*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    ol,ul{list-style: none;}
    a{text-decoration: none;}
    /* Main styles */
    .container{
        max-width: 1110px;
        margin: 0 auto;
    }
    .wrap{display: flex;
    justify-content: center;
padding: 20px 0;
}
/* nav panels and logo  */
    .wrap p{margin-right: 30px;}
    .logo{padding: 20px 0px 25px 0px;}
    .border{border: 1px solid #EFEFEF;}
   .gray_background{background-color: #EFEFEF;}
   .second_nav{padding: 25px 0px 30px 0px;}
   .nav_item p{margin-right: 40px;}
   /* super chair on the pink background  */
   .black_chair{background: url(/images/black_chair.png) no-repeat;}
   .super_chair{flex-direction: column;
    color: #FFFFFF;
}
   .btn a{border: 1px solid #FFFFFF;
border-radius: 40px;
color: #FFFFFF;
padding: 10px 30px;
}
.super_chair p{padding: 50px 0px;}
.super_chair{padding-top: 190px;}
.super_chair{padding-bottom: 190px;}

/* Main_block  */
.main_block{background-color: #EFEFEF;}
.special_offers{justify-content: flex-start;
padding: 80px 0px 40px 0px;
}

.special_offers_list div{padding: 0px 21px;}
.list_item{background-color: #FFFFFF;
flex-direction: column;

}
.list_item p{padding: 20px 0;
margin: 0;
align-items: center;
text-align: center;

}

.list_item:first-child{}
.purple{margin-bottom: 20px;
   text-align: center;
}
.purple a{background-color: #F13C6E;
border: #F13C6E;

}
/* PINK SQUARE  */
.pink_square{flex-direction: column;
position: relative;
width: 510px;
}
.pink_square p{padding: 25px 0px 25px 35px;}
.pink_square div{background-color: #F13C6E;
}
.pink_square h3{padding-top: 40px;
padding-left: 35px;
}
.pink_square input{margin-bottom: 35px;
margin-left: 35px;
border: 1px #FFFFFF solid;
border-radius: 30px;
padding: 7px  22px;
}


.email_logo{position: absolute;
left: 335px;
}


.light_pink_square{flex-direction: column;
    position: relative;
    width: 550px;
    }
    .light_pink_square p{padding: 25px 0px 25px 35px;}
    .light_pink_square div{background-color: #F13C6E;
    }
    .light_pink_square h3{padding-top: 40px;
    padding-left: 35px;
    }
    
    
    
    .car_logo{position: absolute;
    left: 335px;

    
    }
   
.bonus_position{flex-direction: row;
    justify-content: space-between;
 }
 .bonus{padding: 0 0 35px 35px;}
 .btn_map_shop{border: 1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 7px 27px;}
    .impuls div{background-color: #FFFFFF;
        border: 1px #EFEFEF solid;}
    .impuls img{padding: 35px 63px;}
    .impuls{
    padding: 0px;
    }
    .impulse_block{padding: 100px 0 0px 0;}
    .recently_watched{}
    .second{}
    .recently{padding-bottom: 80px;}
    .popular_categories{flex-direction: column;}
    .border_in_footer{padding: 60px 85px 30px 0;
    border-bottom: 1px solid #EFEFEF;}
    .popular_categories li{padding: 0 0 15px 0;}
.popular_categories_list:first-child{padding-top: 25px;}
.popular_categories_position{justify-content: space-between;
border-bottom: 1px #EFEFEF solid;
}
