@import './mixins.scss';
@import './variables.scss';

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    ol,ul{list-style: none;}
    a{text-decoration: none;}

.container{
    max-width: 1150px;
    margin: 0 auto;
}
.wrap{display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    &__updated{
        padding: 140px 0 40px 0;
    }
    &__frst-paragraph{
        padding-bottom: 60px;
    }
    
}
.ImgBlock{
    flex-direction: row;
    
   .wrap__positionImg{
    margin-right: 21px;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 0px;
   }


    }

    .paragraph{
        @include text(16px,400,'Open Sans');
        color: #9B9B9B;
    }

    .article{
        @include text(32px,600);
    }

    .main_article{
        @include text(43px,600);
    }
    .text_center{justify-content: center;
    align-content: center;
    display: flex;
    }
    .block_pr{padding: 30px 0 30px 30px;}
    .btn{padding: 0 0 30px 30px;}
    .block_ar{padding: 30px 0 0 30px;}
    

